.landingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 98vh;
    box-sizing: border-box;
}

video{
    position:absolute;
        bottom: 0px;
        right: 0px;
}

.button{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button{
    border-radius: 50%;
    width: 193px;
    height: 193px;
    cursor: pointer;
    box-sizing: content-box;
    background-color: transparent;
    opacity: 0.7;
    border:none
}

.button button img{
    width: 193px;
    height: 193px;
}