.allcontainer{
    display: flex;
    position: absolute;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
}

video{
    /* position:absolute; */
        bottom: 0px;
        right: 0px;
        /* z-index: -1; */
        /* height: 100vh; */
        /* width: 100vw; */
        object-fit: cover;
        
}

.button{
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.button button{
    border-radius: 70%;
    width: 293px;
    height: 293px;
    cursor: pointer;
    box-sizing: content-box;
    background-color: transparent;
    opacity: 1;
    border:none
}

.button button img{
    width: 93px;
    height: 93px;
}


/* .container{
    z-index: 1;
} */